﻿@using Isi2.Projekt.Contracts
@model Isi2.Projekt.Contracts.EntryContract
@{      
    Func<bool> IsMod = () =>
      {
          bool result = false;
          if (!User.Identity.IsAuthenticated)
              return false;
          result = (Session["isMod"] as bool?) == true
          || (Session["isAdmin"] as bool?) == true;
          return result;
      };


    Func<bool> IsAdmin = () =>
    {
        bool result = false;
        if (!User.Identity.IsAuthenticated)
            return false;
        result = (Session["isAdmin"] as bool?) == true;
        return result;
    };

    Func<string> GenerateHash = () => Isi2.Projekt.Web.Helpers.AccessGroupSecurityProvider
      .Instance.GenerateHash(((UserContract)Session["currentUser"]).Id);
}
<div class="entry">
    <hr />
    <div style="text-align: center;">
        <a href="#">
            <img src="@Url.Content("~/Content/images/" + @Model.File)" class="img-polaroid" style="max-width: 100%;">
        </a>
    </div>

    <div style="height: 40px; margin-top: 20px;">
        <h6 style="float: left;">dodano: @Model.Created.ToShortDateString() przez <strong>@Html.ActionLink(Model.Username, "Index", "User", new { userName = Model.Username }, null)</strong></h6>

        <input type="hidden" value="@Model.Id" />
        <input type="button" style="float: right;" class="btn btn-inverse" id="@(Model.Id + "koment")" value="Komentarze &raquo;" />
        <span style="float: right;">
            @if (User.Identity.IsAuthenticated)
            {

                if (Model.EntryAlreadyVotedFor)
                {
                <img src="../../Content/img/plus01.jpg" onmouseover="this.src='../../Content/img/plus02.jpg'" onmouseout="this.src='../../Content/img/plus01.jpg'" id="@(Model.Id + "plus")" style="margin-right:5px; " onclick="this.onmouseout=''; this.disabled=true; document.getElementById('@(Model.Id + "plusNum")').innerHTML=parseInt(document.getElementById('@(Model.Id + "plusNum")').innerHTML)+1; this.onclick='' " ></img>
                }
                else
                {
                <img src="../../Content/img/plus02.jpg" style="margin-right: 5px;"></img>
                }
                <span id="@(Model.Id + "plusNum")" style="color:Green; font-size:1.4em; font-style: oblique; margin-right:15px;" >
                    @Model.VotesNumber
                </span>                
                if (!Model.ImageAlreadyInFavourites)
                {
                <button class="btn btn-inverse2" id="@(Model.Id + "btn")" style="margin-right:10px;" onclick="this.disabled=true" >Lubie </button>
                }
                else
                {
                <button class="btn btn-inverse2" disabled="disabled" style="margin-right: 5px">Lubie </button>
                }
            }
            @if (IsMod())
            {
                <input type="button" value="Ukryj" class="btn btn-danger" id="@Model.Id" title="Ukryj" />
                //<a href ="#" class="btn btn-danger" id="@Model.Id"></a>
                //@Html.ActionLink("Ukryj", "HideImage", new { imageId = Model.Id, h = GenerateHash() }, new { @class = "btn btn-danger" });
            
                if (Model.Published == false)
                {
                    @Html.ActionLink("Główna!", "AddToMain", new { imageId = Model.Id }, new { @class = "btn btn-danger" });
                }
            }
            @if (IsAdmin())
            {
                if (Model.Sticky == false)
                {
                    @Html.ActionLink("Przyklej", "SetSticky", new { imageId = Model.Id }, new { @class = "btn btn-danger" });
                }     
            }

        </span>
        <h6 style="float: left;">
            <div class="Komentarze" id="@(Model.Id + "comt")"></div>
        </h6>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#@(Model.Id + "btn")').bind('click', function () {
            $.ajax({
                url: '@Url.Action("AddImageToFavourite", "Entry")',
                  data: { entryId: '@Model.Id', userLogin: '@User.Identity.Name' },
                  dataType: 'json',
                  success: function (result) {
                  },
              })
        })
    });

    $(document).ready(function () {
      $('#@(Model.Id + "plus")').bind('click', function () {
        $.ajax({
            url: '@Url.Action("VoteForEntry", "Entry")',
                  data: { entryId: '@Model.Id', userLogin: '@User.Identity.Name' },
                  dataType: 'json',
                  success: function (result) {
                  },
              })
    })
      });
        $('#@(Model.Id + "koment")').click(function () {
            var dd = $('#@(Model.Id + "comt")')
            var ido = $(this).prev().val();
            var text = "<br/></br></br>"; //dla lepszej widocznosci
            if (dd.is(":hidden")) {
                dd.html("");
                var _html = "<div style=\"margin-bottom:8px; margin-left: 50%; padding:3px 10px 3px 10px;\"><img src=\"../../Content/img/wait.gif\"/></div>";
                dd.html(_html);
                dd.show();
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("Comments", "Entry")',
                    data: { entryId: ido },
                    dataType: 'json',
                    success: function (result) {
                        for (var i = 0; i < result.length; i++) {
                            text += "<div style=\"margin-bottom:8px; background-color:#D8F6CE; border-radius: 8px; padding:3px 10px 3px 10px;\"><p>dodano: " + result[i].date + " przez <a href=\"/User?userName=" + result[i].user_name + "\">" + result[i].user_name + "</a></p><p>" + result[i].text + "</p></div>";
                            if (!result[i].voted_for) {
                                var entryId = result[i].id;
                                text += '<div style="display: none;">'+entryId+'</div>'+'<img src="../../Content/img/plus01.jpg" onmouseover="this.src=\'../../Content/img/plus02.jpg\'" onmouseout="this.src=\'../../Content/img/plus01.jpg\'" id="@(Model.Id + "plusCom")' + i + '" style="margin-right:5px; " onclick="plus_clicked(this)"/>';
                                plus_clicked = function(what) {
                                    $(what).next().html(parseInt($(what).next().html()) + 1);
                                    var entry_id = $(what).prev().text();
                                    what.onmouseout = "";
                                    what.disabled = true;
                                    what.onclick = "";
                                    $(what).next().after('<img width="30" id="roller_plus" src="../../Content/img/wait.gif"/>');
                                    $.ajax({
                                        type: 'post',
                                        url: '@Url.Action("VoteForComment", "Entry")',
                                        data: { userName: "@User.Identity.Name", commentId: entry_id },
                                        dataType: 'json',
                                        success: function (result) {
                                            alert("test");
                                        },
                                        error: function (result) {
                                            $("#roller_plus").remove();
                                        }
                                     });
                                }
                            }
                            else {
                                text += '<img src="../../Content/img/plus02.jpg" style="margin-right: 5px;"/>';
                            }
                            text += '<span id="@(Model.Id + "plusComNum")' + i + '" style="color:Green; font-size:1.4em; font-style: oblique; margin-right:15px;" >' + result[i].votes_number + '</span><br/>';
                        }
                        text += "<div id='@(Model.Id + "add_com")'></div>";
                        dd.html(text);
                        $(dd).append('<textarea cols="20" id="@(Model.Id + "addkomTxt")" name="DodKomentTxt" placeholder="Treść komentarza..." rows="2"></textarea>')
                        $(dd).append('<input type="button" class="btn btn-inverse" id="@(Model.Id + "addkom")" value="Dodaj nowy komentarz" onclick="comment_added(this);">');
                        comment_added = function(what) {
                            if ($('#@(Model.Id + "addkomTxt")').val() != "") {
                                $('#@(Model.Id + "addkomTxt")').parent().append('<img width="30" id="roller" src="../../Content/img/wait.gif"/>');
                                $.ajax({
                                    type: 'post',
                                    url: '@Url.Action("AddComment", "Entry")',
                                    data: { entryId: ido, text: $('#@(Model.Id + "addkomTxt")').val(), userId: '@Model.AuthorId' },
                                    dataType: 'json',
                                    success: function (result) {
                                        $("#roller").remove();
                                    },
                                    error: function (result) { //bo wywala bledy wiec na errory. Komentarze sie dodaja
                                        $("#roller").remove();
                                        var d = new Date();
                                        $('#@(Model.Id + "add_com")').append("<div style=\"margin-bottom:8px; background-color:#D8F6CE; border-radius: 8px; padding:3px 10px 3px 10px;\"><p>dodano: " + d.getYear() + "-" + d.getMonth() + "-" + d.getDay() + " przez <a href=\"/User?userName=" + "@(User.Identity.Name)" + "\">" + "@(User.Identity.Name)" + "</a></p><p>" + $('#@(Model.Id + "addkomTxt")').val() + "</p></div>");
                                        $('#@(Model.Id + "add_com")').append('<img src="../../Content/img/plus01.jpg" style="margin-right: 5px;"/>');
                                        $('#@(Model.Id + "add_com")').append('<span style="color:Green; font-size:1.4em; font-style: oblique; margin-right:15px;" >' + "0" + '</span><br/>');
                                        $('#@(Model.Id + "addkomTxt")').val("")
                                    }
                                });
                            }
                        }

                    },
                    error: function () {
                        alert("Błąd pobierania komentarzy");
                    }
                });
            } else {
                dd.hide()
            }

        });
</script>
