﻿@model Isi2.Projekt.Contracts.Common.PagedListResultContract<Isi2.Projekt.Contracts.EntryContract>


@{
    int page = (int)Math.Ceiling(Model.Count / 10.0);
}

<h3>Ulubione obrazki użtkownika: @User.Identity.Name</h3>


@Session["Login"]
<div>@ViewData["Nessage"]</div>
@foreach (var item in Model.Items)
{ 
    @Html.Partial("_Entry", item)
}

<div class="pagination">
    <ul>
        @for (int i = @Model.Page + 1; i < Model.Page + page + 1; i++)
        { 
            
             <li><a href="@Url.Action("GetFavouritesImagesForUser", "Entry", new {page = i})">@i</a></li>
        }
    </ul>
</div>

